################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/node_modules
/package-lock.json
/package.json
/bin
/contracts
/migrations
/test
*.js
AcademicArticles/.vscode/settings.json
/build/contracts
